<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">

    <div class="navbar-header">

      <a class="navbar-brand" href="/">
      <i class="fa fa-ravelry" aria-hidden="true">Welcome To Joshua Ahn's Portfolio</i>
      </a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="/about/index"><button class="btn btn-warning" style="margin-top:7px;"><i class="fa fa-smile-o" aria-hidden="true"> About Me</i></button></a>&emsp;&emsp;&emsp;
        <a href="/list/index"><button class="btn btn-success" style="margin-top:7px;"><i class="fa fa-list" aria-hidden="true"> List of Projects</i></button></a>&emsp;&emsp;&emsp;
        <a href="/contact/index"><button class="btn btn-danger" style="margin-top:7px;"><i class="fa fa-handshake-o" aria-hidden="true"> Hire Me</i></button></a>&emsp;&emsp;&emsp;

    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav hidden-xs">
      </div>
  </div>

</nav>
<br><br>

<div class='profile-header text-center'
     style="background-image: url('http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s640/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg');">
  <div class="container">
     <div class="container-inner">
      <br><br><br><br>  <br><br>
      <img class="img-circle media-object" src="/portPic/me.png" id="me"/>
      <h3 class="profile-header-user" style="color:grey;">Joshua JoonYung Ahn</h3>
      <p class="profile-header-bio" style="color:black;">
        Full Stack Web Developer Currently, Available for Employment.
      </p>
        <a href="https://www.facebook.com/ahnj95" target="_blank"><button class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"> Facebook</i></button></a>
        <a href="https://twitter.com/joshuaahn2" target="_blank"><button class="btn btn-info"><i class="fa fa-twitter" aria-hidden="true"> Twitter</i></button></a>
        <a href="https://github.com/JoshuaYoungAhn" target="_blank"><button class="btn btn-success"><i class="fa fa-github" aria-hidden="true"> Github</i></button></a>
      <br><br>
    </div>
    <br><br>
  </div>
