<div class="container" id="about">

<h1>Hello <i class="fa fa-hand-spock-o" aria-hidden="true"></i></h1>
<h3>Currently Available for employment! Please Check out my Collection, click on the down below link or <a href="/list/index">here!</a><h3>
<h4>Hosted Websites  <i class="fa fa-arrow-right" aria-hidden="true"></i>  AWS, Microsoft Azure Cloud, sites will be back up shortly</h4>
<h3>Client & Server experience! Down below I spent 600+ hours working with!</h3>
<ul>
  <li>Computer programming proficiency in languages: JavaScript + Python  + C#</li>
  <li>Comfortable in front-end web: HTML5 + JavaScript + CSS + JQuery + AJAX + JSON + Angular.js •Proficiency Database: SQL(MySQL) + NoSQL (Mongoose.js + MongoDB) + Building ERDs, DB Normalization.</li>
  <li>Comfortable in front-end frame-works: Express.js (Node.js) + AngularJS + Socket.io + ASP.NET Core + Django
      <li>Server familiarity: SQL + Node.js </li>
      <li>Methodology: OOP + MVC </li>
      <li>Full MEAN and Python Web Development</li>
      <li>Daily Algorithms/Data Structure/Sorts</li></li>
</ul>
<h4>you'll find me outside of work probably running, doing hot yoga, or flying my drone filming
my hikes etc. I have many hobbies so you may call me a hobbyist or someone who is simply just really curious and wants to do a lot of things. <a href="/list/index"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> </h4>
</div>
