<div class="container" id="about">
<h1>Need a copy of my resume? Click on the pdf icon! <a href="/portPic/joshuayungahn.docx.pdf" download><i class="fa fa-file-pdf-o" id="pdf" aria-hidden="true"></i></a></h1>

<a href="https://www.facebook.com/ahnj95" target="_blank"><button class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"> Facebook</i></button></a>
<a href="https://twitter.com/joshuaahn2" target="_blank"><button class="btn btn-info"><i class="fa fa-twitter" aria-hidden="true"> Twitter</i></button></a>
<a href="https://github.com/JoshuaYoungAhn" target="_blank"><button class="btn btn-success"><i class="fa fa-github" aria-hidden="true"> Github</i></button></a>

<h3><i class="fa fa-envelope" aria-hidden="true"></i> ahnj95@gmail.com</h3>
<h3><i class="fa fa-mobile" aria-hidden="true"></i> 253-353-0280</h3>
</div>
