<div class="container" id="about">
  <h1 style="text-align:center;">Use Arrow Keys Below </h1>


<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 53</div>
    <img src="/portPic/1.png" style="width:100%">
    <div class="text" style="color:white;">Mongo Server and running my laptop as a Server</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 53</div>
    <img src="/portPic/2.png" style="width:100%">
    <div class="text">Store App powered by MEAN</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 53</div>
    <img src="/portPic/3.png" style="width:100%">
    <div class="text">All of this is a Single Page! </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 53</div>
    <img src="/portPic/5.png" style="width:100%">
    <div class="text">Product grabs the list of products in the server thats added by the client</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 53</div>
    <img src="/portPic/6.png" style="width:100%">
    <div class="text">server adds it and passes the info down below with a timestamp and control to delete</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">6 / 53</div>
    <img src="/portPic/7.png" style="width:100%">
    <div class="text">Discussion App MEAN Powered</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">7 / 53</div>
    <img src="/portPic/8.png" style="width:100%">
    <div class="text">the dash... </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">8 / 53</div>
    <img src="/portPic/9.png" style="width:100%">
    <div class="text"> Active watching search filter</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">9 / 53</div>
    <img src="/portPic/10.png" style="width:100%">
    <div class="text">Working server that will add entries and pass them back to the dash</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">10 / 53</div>
    <img src="/portPic/11.png" style="width:100%">
    <div class="text">You can also click and view each discussion and engage and help out! </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">11 / 53</div>
    <img src="/portPic/12.png" style="width:100%">
    <div class="text">Comments...</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">12 / 53</div>
    <img src="/portPic/13.png" style="width:100%">
    <div class="text">and replies :)</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">13 / 53</div>
    <img src="/portPic/14.png" style="width:100%">
    <div class="text">Json objects that is passed back and forth from client and the server!</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">14 / 53</div>
    <img src="/portPic/15.png" style="width:100%">
    <div class="text">BucketList Powered by MEAN</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">15 / 53</div>
    <img src="/portPic/16.png" style="width:100%">
    <div class="text">The dash...</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">16 / 53</div>
    <img src="/portPic/17.png" style="width:100%">
    <div class="text">Adding items to my bucketlist...</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">17 / 53</div>
    <img src="/portPic/18.png" style="width:100%">
    <div class="text">What did KKKKKKKK do and wants to do?</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">18 / 53</div>
    <img src="/portPic/19.png" style="width:100%">
    <div class="text">Validation Errors</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">19 / 53</div>
    <img src="/portPic/20.png" style="width:100%">
    <div class="text">I'm sure there's names with only 3 letters long.. sorry!</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">20 / 53</div>
    <img src="/portPic/21.png" style="width:100%">
    <div class="text">Added a bootstrap nav. :)</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">21 / 53</div>
    <img src="/portPic/23.png" style="width:100%">
    <div class="text" style="color:white;">Python Text Base Game FLASK framework</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">22 / 53</div>
    <img src="/portPic/24.png" style="width:100%">
    <div class="text" style="color:white;">Activity log with a reset.</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">23 / 53</div>
    <img src="/portPic/25.png" style="width:100%">
    <div class="text" style="color:white;">Reset</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">24 / 53</div>
    <img src="/portPic/27.png" style="width:100%">
    <div class="text">Unity Game Engine</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">25 / 53</div>
    <img src="/portPic/28.png" style="width:100%">
    <div class="text">Game logic</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">26 / 53</div>
    <img src="/portPic/29.png" style="width:100%">
    <div class="text">My game called balltopia</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">27 / 53</div>
    <img src="/portPic/30.png" style="width:100%">
    <div class="text">lets play?</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">28 / 53</div>
    <img src="/portPic/31.png" style="width:100%">
    <div class="text">4...</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">29 / 53</div>
    <img src="/portPic/32.png" style="width:100%">
    <div class="text">5... </div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">30 / 53</div>
    <img src="/portPic/33.png" style="width:100%">
    <div class="text">6...</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">31 / 53</div>
    <img src="/portPic/34.png" style="width:100%">
    <div class="text">wait 10? sorry got impatient please dont take that deeply! i'm patient man</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">32 / 53</div>
    <img src="/portPic/35.png" style="width:100%">
    <div class="text">okay 11...</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">33 / 53</div>
    <img src="/portPic/36.png" style="width:100%">
    <div class="text">12 is a good number to win at!</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">34 / 53</div>
    <img src="/portPic/26.png" style="width:100%">
    <div class="text">C# ASP.NET CORE reg page</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">35 / 53</div>
    <img src="/portPic/37.png" style="width:100%">
    <div class="text">Validation and requirements</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">36 / 53</div>
    <img src="/portPic/38.png" style="width:100%">
    <div class="text">Testing it out! </div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">37 / 53</div>
    <img src="/portPic/39.png" style="width:100%">
    <div class="text">Walk through</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">38 / 53</div>
    <img src="/portPic/40.png" style="width:100%">
    <div class="text"></div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">39 / 53</div>
    <img src="/portPic/41.png" style="width:100%">
    <div class="text">lets login</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">40 / 53</div>
    <img src="/portPic/42.png" style="width:100%">
    <div class="text">The Dash...</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">41 / 53</div>
    <img src="/portPic/43.png" style="width:100%">
    <div class="text">Facebook mock</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">42 / 53</div>
    <img src="/portPic/44.png" style="width:100%">
    <div class="text">Comment reply walkthrough</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">43 / 53</div>
    <img src="/portPic/45.png" style="width:100%">
    <div class="text"></div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">44 / 53</div>
    <img src="/portPic/46.png" style="width:100%">
    <div class="text">C# ASP.NET CORE ebay mock</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">45 / 53</div>
    <img src="/portPic/47.png" style="width:100%">
    <div class="text">Post your item for online auctions! </div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">46 / 53</div>
    <img src="/portPic/48.png" style="width:100%">
    <div class="text">for the clients, validation</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">47 / 53</div>
    <img src="/portPic/49.png" style="width:100%">
    <div class="text"></div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">48 / 53</div>
    <img src="/portPic/50.png" style="width:100%">
    <div class="text">Dash walkthrough</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">49 / 53</div>
    <img src="/portPic/51.png" style="width:100%">
    <div class="text"></div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">50 / 53</div>
    <img src="/portPic/52.png" style="width:100%">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">51/ 53</div>
    <img src="/portPic/53.png" style="width:100%">
    <div class="text"></div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">52 / 53</div>
    <img src="/portPic/54.png" style="width:100%">
    <div class="text">The ebay website dash with two accounts that couldnt have the same username!</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">53 / 53</div>
    <img src="/portPic/55.png" style="width:100%">
    <div class="text" style="color:white;"> Please Click here to <a href="contact/index"><button class="btn btn-danger">Hire me now!</button></a></div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(54)"></span>

</div>


<h3 style="text-align:center;">First of all, I want to thank you personally for coming here giving me an opportunity to change my life, and just for coming to my website! Ready to get more info? here <a href="/contact/index">  <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h3>
</div>
